@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

/* 見出し */
.page-title {
    font-size: 3rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}
.sub-title {
    font-size: 1.5rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 2rem;
/*    background: #0bd; */
    background: tomato;
    color: #fff;
    border-radius: 5px;
/*    padding: 18px 32px; */
    padding: 10px 0px;
}
.button:hover {
/*    background: #0090aa; */
    background: pink;
}

/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
/*    width: 150px; */
    width: 50px;
/*    margin-top: 10px; */
    margin-top: 10px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}

/* HOME
------------------------------- */
#home {
    background-image: url(osho-back2.jpg);
/*    min-height: fit-content; */
    min-height: 1400px;
}
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.5rem;
    margin: 5px 0 10px;
}

/* question
------------------------------- */
#question {
    background-image: url(osho-face.jpg);
/*    min-height: 200vh; */
    min-height: auto;
}
.question-content {
    max-width: 560px;
    margin-top: 10%;
}
.question-content .page-title {
    font-size: 2.5rem;
    font-weight: border;
    text-transform: none;
    text-align: center;
}
.question-content p {
    font-size: 2.5rem;
    font-weight: border;
    color: tomato;
/*    margin: 10px 0 42px; */
    margin: 5px 0 10px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* フッター
------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 1.8rem;
    }
    
    .page-header {
        flex-direction: column;
        align-items: flex-end;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
  #home {
    background-image: url(osho-back2.jpg);
    min-height: fit-content;
  }
    .home-content {
        margin-top: 20%;
    }
    .home-content p {
       font-size: 1.2rem;
    }
    /* QUESTION */
    .question-content {
        margin-top: 20%;
    }
    .question-content .page-title {
      font-size: 1.4rem;
    }
   .question-content p {
     font-size: 1.4rem;
    }

    .button {
      font-size: 1.2rem;
    }
}
